:root {
    --primary: #b5ccdf;
    --secondary: #509ad7;
    --tertiary: #79a3c8;
    --light-dark: #4b74a5;
    --dark: #425364;
    --border-radius: 0.3rem;
}
  
* {
    box-sizing: border-box;
    
}
  
body {
    background-image: url(https://macjpeg.macsc.com/macw/pic/202009/03112832_657abfbe67.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}
  
main {
    margin-left: 40px auto;
    width: 94%;
    min-height:100%;
    overflow: auto;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
  
    
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
  
.btn-inline {
    display: inline;
}
  
.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}
  
.btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
  
.hero {
    padding: 3% 4%;
    color: var(--primary);
}
  

.app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}
  
.list-group {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: white;
    text-decoration: none;

}
  
.list-item:hover {
    background-color: var(--dark);
}
  
.icon {
    width:10%;
    height:10%;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}
  
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.weather-card {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
    margin-right: 10px;
    height: 250px;
    line-height: 1.8;
}

.five-day {
    display:flex;
}

.subtitle {
    display:none;
}

#footer {
    margin-top: -100px;
    position: relative;
    display:flex;
    justify-content: center;
}
